body{
    background:#CCFFFD;

}

.color1{
    background: #34495e;
    color: #fff; 
}

.color2{
    background: #CCFFFD;
    color: #fff; 
}

footer{
    background: #c0392b;
    color: #fff;
    
}

#autor{
    background: #f2f2f2;
   
}